* {
  padding: 0;
  margin: 0;
}

body {
  background: #0b2429;
}

.half-circle1 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top-right-radius: 0;
  background: #998235;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.half-circle2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top-right-radius: 0;
  background: #f3ac3c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-100%);
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #f3ac3c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-100%);
}

.animate {
  transition-delay: 0.5s;
  transition-duration: 3s;
  transition-property: transform width;
}

.animate:hover {
  width: 200px;
  height: 200px;
}

.animate:active {
  width: 200px;
  height: 200px;
}
